body{
    background-color: #2C2F33;
    color:  #99AAB5;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

p{
    text-align: center;
    padding-top: 25px;
}

.header{
    background-color: #23272A;
    color: white;
    padding: 30px 30px;
}

.title{
    text-align: center;
}

.header-text{
    text-align: center;
    font-size: 2.5em;
}

.topnav{
    overflow: hidden;
    background-color: #23272A;
    border-bottom: pink 15px;
}

.topnav a{
    font-size: 17px;
    padding: 14px 16px;
    color:  #99AAB5;
    text-align: center;
    text-decoration: none;
}

.topnav-left a {
    float: left;
}
.topnav-right a {
    float: right;
}

.topnav a:hover {
    background-color: #2C2F33;
    color: white;
}

.topnav a.active{
    background-color: #2C2F33;
    color: white;
}

